{% extends 'PassPercentage/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Comment
{% endblock %}

{% block style_block %}
    * {
        border: thin black none;
        padding: 4px;
        //background-color: lightgray;
        //background-image: url();
        //color: rgb(255,255,255);
        margin: 10px 0px 10px 0px; //top, right, bottom, left
        //font-size : 30px;
    }
    a {
        text-decoration:none
    }
    #comment_form {
        border: medium black ridge;
        padding: 4px;
    }
    #history_comment {
        border: 2px black dashed;
        border-radius: 10px;
        padding: 4px;
    }

    #each_comment {
        background-color: rgb(240,240,240);
        border-color:red;
        border-radius: 10px;
        border: 2px black ridge;
        padding: 4px;
    }
    form {
        border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: lightgray;
        background-size: 40px 50px;
        padding-top:0.5em;
        padding-bottom:0.4em;
    }
    button {
        border-width:3px;
        border-style:outset;
        border-color: rgb(128,0,0);
        border-radius: 10px;
        //background-color: yellow;
        //outline: medium solid red
        //box-shadow: 2px 2px 2px 2px red;
        padding: 5px;
        margin-left: 600px;
        //left: 500px;
        font-size: 16px;
    }

    label {
        margin-left: 10px;
        //left: 500px;
    }

    .class-comment {
        margin-left: 10px;
        //left: 500px;
    }
    #line_head {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 40px 50px;
        padding-top:0.5em;
        padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        margin-top:1px;
        font-size: 20px;
        color: white;
    }

    #details {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 40px 50px;
        padding-top:0.5em;
        padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        margin-top: 1.3em;
        font-size: 30px;
        color: white;
    }

    #show_select {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: grey;
        background-size: 40px 50px;
        padding-top:0.2em;
        padding-bottom:0.2em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        margin:4px 20px;
        font-size: 20px;
        color: white;
    }

    .show_content {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: grey;
        background-size: 40px 50px;
        padding-top:0.5em;
        padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        font-size: 20px;
        color: white;
    }

    #point_info
    {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color:  	rgb(248,0,0);
        background-size: 40px 50px;
        padding-top:0.5em;
        padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        font-size: 25px;
        color: black;
    }

    #chartContainer {
        //border-width:medium;
        //border-style:outset;
        //border-color:black;
        //border-radius: 10px;
        //background-color: rgb(136,0,0);
        background-size: 5px 10px;
        padding-top:0.1em;
        padding-bottom:0.5em;
        padding-right:0.8em;
        padding-left:0.1em;
        margin-top:1em;
        //font-size: 50px;
        color: white;
    }

{% endblock %}
{% block script_block %}
window.onload = function(){
    var obj_select = document.getElementById("show_select");
    var obj_pass_div = document.getElementById("show_pass_content");
    var obj_fail_div = document.getElementById("show_fail_content");
    var obj_error_div = document.getElementById("show_error_content");
    var obj_cancel_div = document.getElementById("show_cancel_content");
    var obj_skip_div = document.getElementById("show_skip_content");
    var obj_warn_div = document.getElementById("show_warn_content");
    var obj_interrupt_div = document.getElementById("show_interrupt_content");
    var obj_all_div = document.getElementById("show_all_content");
    obj_select.onchange = function(){
        obj_all_div.style.display = this.value==1? "block" : "none";
        obj_pass_div.style.display = this.value==2? "block" : "none";
        obj_fail_div.style.display = this.value==3? "block" : "none";
        obj_error_div.style.display = this.value==4? "block" : "none";
        obj_cancel_div.style.display = this.value==5? "block" : "none";
        obj_skip_div.style.display = this.value==6? "block" : "none";
        obj_warn_div.style.display = this.value==7? "block" : "none";
        obj_interrupt_div.style.display = this.value==8? "block" : "none";
    }


	var dataPoints = [];
	$.get("{% static dir_xml %}",{ "_": $.now() }, function(data) {
		$(data).find("point").each(function () {
			var $dataPoint = $(this);
			var x = $dataPoint.find("x").text();
			var y = $dataPoint.find("y").text();
            dataPoints.push({label: x, y: parseFloat(y)});
		});
		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			exportEnabled: true,
			theme: "theme",
			title: {
				//text: "Latest Pass Percentage : {{ platforms.platform_name }} ",
			},
			data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                toolTipContent: "{label}: <strong>{y}</strong>",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} : {y}",
				dataPoints: dataPoints,
			  }]
		});
    chart.render();
    });
}

{% endblock %}

{% block body_block %}

<div id="line_head">
    <h1>Comment here</h1>
</div>

<div id="chartContainer" style="height: 400px; width: 40%;"></div>
<script src="{% static "js/canvasjs.min.js" %}"></script>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>

<div id="details">
    Show details :
    <select id="show_select">
        <option value="0" selected>CLOSE</option>
        <option value="1" >ALL [{{fail.all.all_cont}}]</option>
        <option value="2">PASS [{{fail.pass.pass_cont}}]</option>
        <option value="3">FAIL [{{fail.fail.fail_cont}}]</option>
        <option value="4" >ERROR [{{fail.error.error_cont}}]</option>
        <option value="5" >CANCEL [{{fail.cancel.cancel_cont}}]</option>
        <option value="6" >SKIP [{{fail.skip.skip_cont}}]</option>
        <option value="7" >WARN [{{fail.warn.warn_cont}}]</option>
        <option value="8" >INTERRUPT [{{fail.interrupt.interrupt_cont}}]</option>
    </select>
    <div class="show_content" id="show_pass_content" hidden="hidden">{{ fail.pass.pass_info|linebreaks }}</div>
    <div class="show_content" id="show_fail_content" hidden="hidden">{{ fail.fail.fail_info|linebreaks }}</div>
    <div class="show_content" id="show_error_content" hidden="hidden">{{ fail.error.error_info|linebreaks }}</div>
    <div class="show_content" id="show_cancel_content" hidden="hidden">{{ fail.cancel.cancel_info|linebreaks }}</div>
    <div class="show_content" id="show_skip_content" hidden="hidden">{{ fail.skip.skip_info|linebreaks }}</div>
    <div class="show_content" id="show_warn_content" hidden="hidden">{{ fail.warn.warn_info|linebreaks }}</div>
    <div class="show_content" id="show_interrupt_content" hidden="hidden">{{ fail.interrupt.interrupt_info|linebreaks }}</div>
    <div class="show_content" id="show_all_content" hidden="hidden">{{ fail.all.all_info|linebreaks }}</div>
</div>
<div>
    <form id="comment_form" method="post" action="{% url 'comments' platforms.platform_slug loop_select_name host_ver x_point updated_time %}"
          enctype="multipart/form-data">
        <p id="point_info">@ Group:{{platforms.platform_name}}, Feature: {{loop_name_no_underline}}, Vesrion: {{ host_version }}, Point: T{{ x_point }}</p>
        {% csrf_token %}
        <label for="user "><strong>User:</strong></label>
        {{ comment_form.comment_user }}
        <p><label for="email "><strong>Email:</strong></label>
            {{ comment_form.comment_email }}
        </p>
        <label for="comment "><strong>Comment:</strong></label>
        <p>
            {{ comment_form.comment_context }}
            <input type="submit" value="Submit" />
        </p>
    </form>
</div>
<div id="history_comment">
    <h2 style="color : red">History Comments</h2>
    {% for comment in comments %}

        {% if updated_time == comment.comment_point_real_time %}
        <div id="each_comment">
            <!--<p>Version : {{comment.comment_version}}</p>
            <p>Platform : {{comment.comment_platform}}</p>
            <p>loop : {{comment.comment_testloop}}</p>
            <p>Piont : {{comment.comment_point}}</p>
            <p>Title : {{comment.comment_title}}</p>
            <p>Index : {{comment.comment_index}}</p>-->
            <p>{{comment.comment_context}}</p>
            <p>
                From: {{comment.comment_user}};
                Email: <a href="mailto:{{comment.comment_email}}"> {{comment.comment_email}}</a>;
                Update time: {{comment.comment_updated_time}}
            </p>
        </div>
        {% endif %}

    {% endfor %}
</div>
{% endblock %}
