{% extends 'PassPercentage/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Comment
{% endblock %}

{% block body_block %}
<h1>Comment here</h1>
<h2>Platform:{{platforms.platform_name}} Loop: {{loop_name_no_underline}} Vesrion: {{ host_version }} Point: T{{ x_point }}</h2>

<form id="comment_form" method="post" action="{% url 'comments' platforms.platform_slug loop_select_name host_ver x_point %}"
      enctype="multipart/form-data">
    {% csrf_token %}
    <label for="user ">User:</label>
    {{ comment_form.comment_user }}
    <p><label for="email ">Email:</label>
        {{ comment_form.comment_email }}
    </p>
    <p><label for="title ">Title:</label>
        {{ comment_form.comment_title }}
    </p>
    {{ comment_form.comment_context }}
    <p><button type="submit">Comment</button></p>
</form>
<hr/>
<h3>History Comments</h3>
{% for comment in comments %}
<p>Title : {{comment.comment_title}}</p>
<p>Content : {{comment.comment_context}}</p>
<p>From: {{comment.comment_user}} ;Email: {{comment.comment_email}} ;Update time: {{comment.comment_updated_time}}</p>

{% endfor %}
{% endblock %}
