{% extends 'PassPercentage/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{homepage_name}}
{% endblock %}

{% block style_block %}

{% endblock %}

{% block body_block %}
<h1 align="center">
Welcome to PassPercentage
</h1>
<div>
    <p style="background-color:rgb(255,100,0)" >
        List
    </p>
    {% if platform_list %}
        {% for platform in platform_list %}
        <form id="chars" method="post" action="/PassPercentage/lines_charts/{{platform.platform_slug}}/" >
            {% csrf_token %}
            <a href="{% url 'show_testloops'  platform.platform_slug %}">{{platform.platform_name}}</a>
            <a href="{% url 'show_column_chart' platform.platform_slug %}">Column Chart-{{platform.platform_name}}</a>
            <a href="{% url 'show_line_charts' platform.platform_slug %}">Line Chart-{{platform.platform_name}}</a>
            <a href="{% url 'show_area_chart' platform.platform_slug %}">Area Chart-{{platform.platform_name}}</a>
            <select id="loop_select_name" name="loop_select_name">
                {% for loop_name in loop_lists %}
                    <option value="{{ loop_name }}" label="{{ loop_name }}">{{ loop_name }}</option>
                {% endfor %}
            </select>
            <button type="submit"> Display </button>
        </form>
        {% endfor %}
    {% else %}
        <strong>No available platform</strong>
    {% endif %}
</div>
{% endblock %}