{% extends 'PassPercentage/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Area Chart
{% endblock %}

{% block style_block %}
    a {
        text-decoration:none
    }
    #line_head {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 10px 10px;
        padding: 4px;
        //margin:1px;
        //padding-top:0.2em;
        //padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        //font-size: 50px;
        color: white;
    }

    #chartContainer {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 10px 10px;
        //padding-top:0.2em;
        //padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        margin:7px;
        //font-size: 50px;
        color: white;
    }

{% endblock %}

{% block script_block %}
window.onload = function() {
	var dataPoints = [];
	var data_list = []
	var data_dict = {}
	var item = ['total', 'pass', 'red', 'green']
    /*
    $.ajax({
         type:'get',
         url:'{% static dir_xml %}',
         async:false,
         success:function(data){
            for(i=0;i<2;i++){
                $(data).find(item[i]).children().each(function () {
                    var $dataPoint = $(this);
                    var x = $dataPoint.find("x").text();
                    var y = $dataPoint.find("y").text();
                    dataPoints.push({label: x, y: parseFloat(y)});
                });
                data_dict = {
                    type: "area",
                    //visible: true,
                    showInLegend: true,
                    legendMarkerType: "square",
                    markerSize: 0,
                    name:item[i],
                    color: item[i+2],
                    dataPoints: dataPoints
                }
                data_list.push(data_dict)
                dataPoints = []
            }
         },
         dataType:'xml'
    });
    */
    $.get("{% static dir_xml %}",function(data) {
        for(i=0;i<2;i++){
            $(data).find(item[i]).children().each(function () {
                var $dataPoint = $(this);
                var x = $dataPoint.find("x").text();
                var y = $dataPoint.find("y").text();
                dataPoints.push({label: x, y: parseFloat(y)});
            });
            data_dict = {
                type: "area",
                visible: true,
                showInLegend: true,
                legendMarkerType: "square",
                markerSize: 0,
                name:item[i],
                color: item[i+2],
                dataPoints: dataPoints
            }
            data_list.push(data_dict)
            dataPoints = []
        }
        var chart = new CanvasJS.Chart("chartContainer",{
            animationEnabled: true,
            zoomEnabled: true,
            zoomType: "x",
            theme: "dark1",
            title: {
                //text: "platform:{{ platforms.platform_name }}, host version:{{host_version}}, loop name:{{test_loop_name}} ",
                //text: text,
            },
            toolTip: {
                shared: true
            },
            legend:{
                cursor:"pointer",
                itemclick : toggleDataSeries,
                verticalAlign: "top",
                horizontalAlign: "right",
                dockInsidePlotArea: true
            },
            axisY: {
                title: "case num",
                },
            data: data_list
        });
        chart.render();
        function toggleDataSeries(e) {
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }
    });
}
{% endblock %}

{% block body_block %}
<div id="line_head">
    <h1>Platform:{{ platforms.platform_name }}, Loop: {{test_loop_name}}, Version:{{host_version}}</h1>
</div>
<div id="chartContainer" style="height: 480px; width: 99%;"></div>
<script src="{% static "js/canvasjs.min.js" %}"></script>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
{% endblock %}