{% extends 'PassPercentage/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Line Chart
{% endblock %}

{% block style_block %}
    a {
        text-decoration:none
    }
    #line_head {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 10px 10px;
        padding: 4px;
        margin: 10px 0px 10px 0px;
        //padding-top:0.2em;
        //padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        //font-size: 50px;
        color: white;
    }
    #chartContainer {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 10px 10px;
        //padding-top:0.2em;
        //padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        margin:4px;
        //font-size: 50px;
        color: white;
    }
{% endblock %}

{% block script_block %}
window.onload = function() {
	var dataPoints = [];
	var data_list = []
	var data_dict = {}
    var versions = ('{{test_host_ver}}').split(",")
    var pass_num_list = []
    var x_map_time = {}

    $.get("{% static dir_xml %}",{ "_": $.now() },function(data) {
        for(i=0;i<versions.length;i++){
            $(data).find(versions[i]).children().each(function () {
                var $dataPoint = $(this);
                var x = $dataPoint.find("x").text();
                var y = $dataPoint.find("y").text();
                var pass_num = $dataPoint.find("pass_num").text();
                var total_num = $dataPoint.find("total_num").text();
                var feature_owner = $dataPoint.find("feature_owner").text();
                var qemu_ver = $dataPoint.find("qemu_ver").text();
                var host_kernel_ver = $dataPoint.find("host_kernel_ver").text();
                var host_ver = $dataPoint.find("host_ver").text();
                var guest_kernel_ver = $dataPoint.find("guest_kernel_ver").text();
                var guest_ver = $dataPoint.find("guest_ver").text();
                var guest_plat = $dataPoint.find("guest_plat").text();
                var virtio_win_ver = $dataPoint.find("virtio_win_ver").text();
                var image_backend = $dataPoint.find("image_backend").text();
                var image_format = $dataPoint.find("image_format").text();
                var cmd = $dataPoint.find("cmd").text();
                var updated_time = $dataPoint.find("updated_time").text();
				//document.write(x+ ':'+y +'%' + '<br/>' + pass_num +'<br>' + total_num + '<br>');
                pass_num_list.push(pass_num);
                dataPoints.push({label: x, y: parseFloat(y), pass_num: pass_num, total_num, total_num, feature_owner, qemu_ver, host_kernel_ver, host_ver, guest_kernel_ver, guest_ver, guest_plat, virtio_win_ver, image_backend, image_format, cmd, updated_time});
            });
            data_dict = {
                type: "line",
                visible: true,
                click: onClick,
                //reversed: true
                showInLegend: true,
                legendMarkerType: "square",
                //markerSize: 0,
                //name:versions[i].replaceall('_', '.').replace('_', '.').replace('_', '.'),
                name:versions[i].replace(/_/g, '.'),
                dataPoints: dataPoints
            }
            data_list.push(data_dict)
            dataPoints = []
        }
        var chart = new CanvasJS.Chart("chartContainer",{
            animationEnabled: true,
            exportEnabled: true,
            zoomEnabled: true,
            zoomType: "x",
            theme: "theme",
            title: {
                //text: "platform:{{ platforms.platform_name }}, loop: {{ loop_select_name }}",
            },
            toolTip: {
                shared: false,
                //content: "{name}: <br/> {y}%",
                contentFormatter: function (e) {
                                var content = " ";
                                for (var i = 0; i < e.entries.length; i++) {
                                    content += e.entries[i].dataSeries.name + "<hr/>";
                                    content += "pass percentage :" + e.entries[i].dataPoint.y +"%" + "<br/>"
                                    content += "pass number :" + e.entries[i].dataPoint.pass_num + "<br/>"
                                    content += "total number :" + e.entries[i].dataPoint.total_num  + "<br/>"
                                    content += "feature owner :" + e.entries[i].dataPoint.feature_owner  + "<br/>"
                                    content += "qemu version :" + e.entries[i].dataPoint.qemu_ver  + "<br/>"
                                    content += "host kernel version :" + e.entries[i].dataPoint.host_kernel_ver  + "<br/>"
                                    content += "host version :" + e.entries[i].dataPoint.host_ver  + "<br/>"
                                    content += "guest kernel version :" + e.entries[i].dataPoint.guest_kernel_ver  + "<br/>"
                                    content += "guest version :" + e.entries[i].dataPoint.guest_ver  + "<br/>"
                                    content += "guest platform :" + e.entries[i].dataPoint.guest_plat  + "<br/>"
                                    if (e.entries[i].dataPoint.virtio_win_ver != 'none') {
                                        content += "virtio_win version :" + e.entries[i].dataPoint.virtio_win_ver  + "<br/>"
                                    }
                                    content += "image backend :" + e.entries[i].dataPoint.image_backend  + "<br/>"
                                    content += "image format :" + e.entries[i].dataPoint.image_format  + "<br/>"
                                    //content += "updated time :" + e.entries[i].dataPoint.updated_time  + "<br/>"
                                    content += "updated time :" + e.entries[i].dataPoint.updated_time.replace(/\.\w+\+\w+:\w+/g, '')  + "<br/>"
                                    //content += "<a href=\"http://www.radhat.com\">RedHat</a>" + "<br/>"
                                    content += "<br/>";
                                    x_map_time[e.entries[i].dataPoint.x] = e.entries[i].dataPoint.updated_time
                                }
                                return content;
                            }
                        },
            legend:{
                cursor:"pointer",
                //itemclick : toggleDataSeries,
                //itemclick : show_detail_area,
                itemclick: toggleDataSeries
            },
            axisY: {
                title: "pass",
				suffix: "%"
                },
            data: data_list
        });
        chart.render();

function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

        /*function show_detail_area(e) {
            var host_ver = e.dataSeries.name.replace(/\./g, '_')
            //areaWin = window.open("/PassPercentage/select_area_charts/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/", "_self","areaWin");
            areaWin = window.location.assign("/PassPercentage/select_area_charts/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/", "_self","areaWin");
            //window.location.href = "/PassPercentage/select_area_charts/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/";
        }*/
        /*
        function toggleDataSeries(e) {
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }*/

        function onClick(e) {
            var host_ver = e.dataSeries.name.replace(/\./g, '_')
            var updated_time_nospace = x_map_time[e.dataPoint.x].replace(/\s+/g, '_').replace(/\:/g, '-').replace(/\./g, '_').replace(/\+/g, '_')
            //commentWin = window.open("/PassPercentage/comments/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/" +e.dataPoint.x + "/", "commentWin");
            //commentWin = window.location.assign("/PassPercentage/comments/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/" +e.dataPoint.x + "/", "commentWin");
            commentWin = window.location.assign("/PassPercentage/comments/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/" +e.dataPoint.x + "/" + updated_time_nospace + "/", "commentWin");
            //window.location.href = "/PassPercentage/comments/{{ platforms.platform_name }}/{{ loop_select_name_nospace }}/" + host_ver + "/" +e.dataPoint.x + "/"；
        }
    });
}
{% endblock %}

{% block body_block %}
<div id="line_head">
    <h1>Platform:{{ platforms.platform_name }}, Loop: {{ loop_select_name }}</h1>
</div>
<div id="chartContainer" style="height: 650px; width: 99%;"></div>
<script src="{% static "js/canvasjs.min.js" %}"></script>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
{% endblock %}