{% extends 'PassPercentage/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Settings
{% endblock %}

{% block style_block %}
    * {
        border: thin black none;
        padding: 4px;
        //background-color: lightgray;
        //background-image: url();
        //color: rgb(255,255,255);
        margin: 10px 0px 10px 0px; //top, right, bottom, left
        font-size : 30px;
    }

    a {
        text-decoration:none
    }

    #settings {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: rgb(136,0,0);
        background-size: 40px 50px;
        padding-top:0.5em;
        padding-bottom:0.5em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        font-size: 50px;
        color: white;
    }

    #memu {
        //border-width:medium;
        border-style:outset;
        border-color:black;
        border-radius: 10px;
        background-color: lightgray;
        //background-size: 10px 10px;
        padding-top:0.5em;
        padding-bottom:0.4em;
        //padding-right:0.8em;
        //padding-left:0.6em;
        //margin:4px 20px;
        //width: 80%;
    }

    .class_selecter:hover {
        //border-width:medium;
        //border-style:outset;
        //border-color:black;
        //border-radius: 10px;
        background-color: rgb(80,0,0);
        //background-size: 40px 50px;
        color: white;
        //font-size: 25px;
        //width: ;
        //padding-top:0.5em;
        //padding-bottom:0.4em;
        //padding-right:2em;
        //padding-left:0.6em;
        //margin:5px 5px;
    }

    #selecter {
        //border-style:outset;
        //border-width:medium;
        //border-color:rgb(224,0,0);
        //border-radius: 10px;
        //background-color: lightgray;
        //background-size: 100px 50px;
        //padding-top:5px;
        //padding-bottom:5px;
        font-size : 25px;
    }

{% endblock %}

{% block body_block %}
<h1 id="settings" align="center">
    Settings
</h1>

<div id="memu">
    <p>
<!--        <a class='class_selecter', id="selecter" href="{% url 'set_avocado_feature_info_mapping' %}">-->
<!--            Set avocado feature info mapping-->
<!--        </a>-->
        <a class='class_selecter', id="selecter" href="/admin/PassPercentage/avocadofeaturemapping/">
            Set avocado feature info mapping
        </a>
    </p>
</div>
{% endblock %}